@import "../../Variables/Variables.scss";

.offersWrapper {
  width: 100%;
  // margin-top: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../Img/Pics/wall.png);

  h2 {
    text-align: start;
    font-weight: 600;
    font-size: 2.4rem;
    color: rgb(138, 138, 138);
    letter-spacing: 5px;
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }
  .offersHeader {
    width: 70%;
    border-bottom: 1px solid rgb(138, 138, 138);

    display: flex;
    flex-direction: row;
  }
  .offerHeaderH2 {
    padding: 30px;
  }
  .offersHeaderParagraph {
    padding: 30px 0 30px 40px;
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }
}

.offers {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1030px) {
  .offersWrapper {
    .offersHeader {
      width: 700px;
    }
  }
}
@media only screen and (max-width: 700px) {
  .offersWrapper {
    .offersHeader {
      width: 100%;
    }
    .offersHeader {
      flex-direction: column;
    }

    .offersHeaderParagraph {
      padding: 10px 30px 30px 30px;
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 415px) {
  .offersWrapper {
    h2 {
      letter-spacing: 4px;
      font-size: 1.8rem;
    }
  }
}
