@import "../../Variables/Variables.scss";

.mainPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 50px;

  h1 {
    color: $redColor;
    font-weight: 300;
  }
  p {
    font-weight: 200;
    font-size: 3rem;
    color: $greyColor;
  }
}

@media only screen and( max-width:900px) {
  .mainPage {
    h1 {
      font-size: 1.5rem;
    }
    p {
      margin: 10px;
      font-size: 2rem;
    }
  }
}
