@import "../../Variables/Variables.scss";

.mainPageWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../../Img/Pics/mainPageBackgroundDog.jpg);
  background-size: cover;
  background-position: top;
}

.mainPageHeader {
  padding: 40px;
  z-index: 10;

  h1 {
    font-weight: 300;
    font-size: 3rem;
    color: $greyColor;
    letter-spacing: 2px;
    span {
      color: $redColor;
    }
  }
}

.mainPageContent {
  width: 600px;
  height: 200px;
  margin: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  align-self: flex-start;
  z-index: 10;

  p {
    font-weight: 200;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    margin: 5px;
  }
  h4 {
    font-size: 2.2rem;
    font-weight: 300;
    margin: 15px 0;
  }
}

.mainPageFooter {
  margin-top: 180px;
  padding-top: 20px;
  align-self: flex-end;
  p {
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 300;
    text-shadow: 6px 3px 12px rgb(255, 255, 255);
  }
}
@media only screen and( max-width:900px) {
  .mainPageContent {
    width: 400px;
    height: 220px;
    padding-top: 20px;

    h1 {
      font-size: 1rem;
    }

    img {
      width: 100px;
    }
  }
  .mainPageFooter {
    p {
      font-size: 1.2rem;
    }
  }
}

@media only screen and( max-width:768px) {
  .mainPageWrapper {
    img {
      display: none;
    }
  }
}

@media only screen and (max-width: 580px) {
  .mainPageHeader {
    h1 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1rem;
    }
  }
  .mainPageContent {
    width: 310px;
    margin: 20px auto;
    padding: 10px 5px;

    p {
      font-size: 1rem;
    }
    h4 {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 300;
      margin: 15px 0;
    }

    img {
      width: 70px;
    }
  }
}
