@import "../../Variables/Variables.scss";

.pageLayout {
  width: 100%;
  background-color: $mainBackgroundColor;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $bodyFont;
}
