@import "../../Variables/Variables.scss";

.footer {
  width: 100%;
  min-height: 130px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;

  a {
    color: $greyColor;
    font-weight: 300;
    text-decoration: none;
  }
  .telIcon {
    height: px;
  }
  .GMIcon {
    height: 60px;
  }
  .telephoneLink,
  .googleMapsLink,
  .faceBookLink,
  .openTime {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  h3 {
    display: inline-block;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 300;
    border-bottom: 1px solid $redColor;
    margin: 5px 0;
  }
  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 5px;
  }
}

@media only screen and(max-width: 768px) {
  .footer {
    padding: 18px;
    flex-direction: column;
    gap: 20px;

    .telephoneLinkContent,
    .adresLinkContent {
      margin-left: 8px;
    }

    .GMIcon,
    .OpenIcon,
    .telIcon {
      height: 30px;
    }

    .FBIcon {
      height: 50px;
    }

    h3 {
      font-size: 15px;
    }

    p {
      font-size: 10px;
    }
    .faceBook,
    .googleMaps,
    .openTime,
    .telephone {
      width: 180px;
    }
    .openTime h3 {
      width: 70px;
    }
    .faceBook {
      display: grid;
      place-items: center;
      margin-right: 25px;
    }
  }
}
