@import "../../Variables/Variables.scss";

.footer {
  width: 100%;
  min-height: 130px;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;

  a {
    color: $greyColor;
    font-weight: 300;
    text-decoration: none;
  }

  .GMIcon {
    height: 60px;
  }

  .googleMapsLink,
  .faceBookLink,
  .openTime {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  h3 {
    display: inline-block;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 300;
    border-bottom: 1px solid $redColor;
    margin: 5px 0;
  }
  p {
    font-weight: 300;
    font-size: 14px;
    line-height: 5px;
  }
}

@media only screen and(max-width: 768px) {
  .footer {
    padding: 18px;
    flex-direction: column-reverse;
    .GMIcon,
    .FBIcon,
    .OpenIcon {
      height: 30px;
    }

    h3 {
      font-size: 15px;
    }

    p {
      font-size: 10px;
    }
    .faceBook,
    .googleMaps,
    .openTime {
      width: 180px;
    }
    .openTime h3 {
      width: 70px;
    }
  }
  .footer div:nth-last-child(2) {
    border-top: 1px solid rgb(201, 201, 201);
    border-bottom: 1px solid rgb(201, 201, 201);
  }
}
