@import "../../Variables/Variables.scss";

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  img {
    width: 300px;
  }
}

@media only screen and (max-width: 900px) {
  header {
    img {
      width: 280px;
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    img {
      width: 220px;
    }
  }
}
